<div id="content">
    <nav>Nav</nav>
    <header>
      <p> Highlighted Project: {{ highlight }}</p>
    </header>
    <main>
      <app-project-component *ngFor="let project of projects" [project]="project" (eventFromInner)="eventFromInner($event)"></app-project-component>
    </main>
    <section>Skills</section>
    
    <aside>
        <!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <span class="name">David Walsh</span>
              </div>
              <div class="back">
                <p>Mozilla Web Developer<p></p>
              </div>
            </div>
          </div> -->
          Image
    </aside>
    <footer>Copyright Taro Yamashita 2018</footer>
</div>
